practice

In [1]:
# We will begin by importing the necessary packages.

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3
from glob import glob
from bs4 import BeautifulSoup
import requests

%matplotlib inline

In [15]:
df = pd.read_csv('./zippedData/imdb.title.basics.csv.gz')

In [16]:
df

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
...,...,...,...,...,...,...
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama
146140,tt9916622,Rodolpho Teóphilo - O Legado de um Pioneiro,Rodolpho Teóphilo - O Legado de um Pioneiro,2015,NaN,Documentary
146141,tt9916706,Dankyavar Danka,Dankyavar Danka,2013,NaN,Comedy
146142,tt9916730,6 Gunn,6 Gunn,2017,116.0,NaN
146143,tt9916754,Chico Albuquerque - Revelações,Chico Albuquerque - Revelações,2013,NaN,Documentary

In [17]:
df2 = df[:20]

In [18]:
df2

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama"
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
6,tt0112502,Bigfoot,Bigfoot,2017,NaN,"Horror,Thriller"
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy"
8,tt0139613,O Silêncio,O Silêncio,2012,NaN,"Documentary,History"
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History"
16,tt0187902,How Huang Fei-hong Rescued the Orphan from the...,How Huang Fei-hong Rescued the Orphan from the...,2011,NaN,NaN
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama
18,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery"

In [21]:
df2 = df2.dropna()

In [22]:
genres = df2['genres'].unique()
genres[:5]

array(['Action,Crime,Drama', 'Biography,Drama', 'Drama',
       'Comedy,Drama,Fantasy', 'Comedy'], dtype=object)

In [23]:
# split genres
splitgenres = []
for genre in genres:
    splitgenres += genre.split(',')
splitgenres[:5]

['Action', 'Crime', 'Drama', 'Biography', 'Drama']

In [24]:
uniquegenres = set(splitgenres)
uniquegenres

{'Action',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'History',
 'Mystery'}

In [25]:
for genre in uniquegenres:
    df2[genre] = 0

/opt/anaconda3/envs/learn-env/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [26]:
df2

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",0,0,0,0,0,0,0,0,0,0,0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",0,0,0,0,0,0,0,0,0,0,0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,0,0,0,0,0,0,0,0,0,0,0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",0,0,0,0,0,0,0,0,0,0,0
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,0,0,0,0,0,0,0,0,0,0,0
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",0,0,0,0,0,0,0,0,0,0,0
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography,0,0,0,0,0,0,0,0,0,0,0
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,0,0,0,0,0,0,0,0,0,0,0
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,0,0,0,0,0,0,0,0,0,0,0
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,0,0,0,0,0,0,0,0,0,0,0
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,0,0,0,0,0,0,0,0,0,0,0
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary,0,0,0,0,0,0,0,0,0,0,0
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",0,0,0,0,0,0,0,0,0,0,0
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,0,0,0,0,0,0,0,0,0,0,0
18,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,0,0,0,0,0,0,0,0,0,0,0
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",0,0,0,0,0,0,0,0,0,0,0

In [33]:
df3 = df2.copy()

In [35]:
df3['genres'] = df3['genres'].map(lambda x: x.split(','))

In [36]:
df3

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"[Action, Crime, Drama]",0,0,0,0,0,0,0,0,0,0,0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"[Biography, Drama]",0,0,0,0,0,0,0,0,0,0,0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"[Comedy, Drama, Fantasy]",0,0,0,0,0,0,0,0,0,0,0
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,[Comedy],0,0,0,0,0,0,0,0,0,0,0
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"[Adventure, Animation, Comedy]",0,0,0,0,0,0,0,0,0,0,0
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,[Biography],0,0,0,0,0,0,0,0,0,0,0
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,[History],0,0,0,0,0,0,0,0,0,0,0
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,[Documentary],0,0,0,0,0,0,0,0,0,0,0
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,[Documentary],0,0,0,0,0,0,0,0,0,0,0
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"[Animation, Drama, History]",0,0,0,0,0,0,0,0,0,0,0
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
18,tt0230212,The Final Journey,The Final Journey,2010,120.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"[Drama, Mystery]",0,0,0,0,0,0,0,0,0,0,0

In [37]:
for index, genres in enumerate(df3['genres']):
    for genre in genres:
        df3.loc[index,genre] = 1

In [38]:
df3

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
0,tt0063540,Sunghursh,Sunghursh,2013.0,175.0,"[Action, Crime, Drama]",1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019.0,114.0,"[Biography, Drama]",1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018.0,122.0,[Drama],1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017.0,80.0,"[Comedy, Drama, Fantasy]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
5,tt0111414,A Thin Life,A Thin Life,2018.0,75.0,[Comedy],0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017.0,83.0,"[Adventure, Animation, Comedy]",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012.0,82.0,[Biography],0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,tt0146592,Pál Adrienn,Pál Adrienn,2010.0,136.0,[Drama],1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
11,tt0154039,So Much for Justice!,Oda az igazság,2010.0,100.0,[History],0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013.0,180.0,[Documentary],1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010.0,89.0,[Drama],1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018.0,60.0,[Documentary],1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011.0,160.0,"[Animation, Drama, History]",1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
17,tt0192528,Heaven & Hell,Reverse Heaven,2018.0,104.0,[Drama],0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
18,tt0230212,The Final Journey,The Final Journey,2010.0,120.0,[Drama],0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011.0,110.0,"[Drama, Mystery]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN

In [44]:
df4 = df2.copy()

In [45]:
df4

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",0,0,0,0,0,0,0,0,0,0,0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",0,0,0,0,0,0,0,0,0,0,0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,0,0,0,0,0,0,0,0,0,0,0
4,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",0,0,0,0,0,0,0,0,0,0,0
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,0,0,0,0,0,0,0,0,0,0,0
7,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",0,0,0,0,0,0,0,0,0,0,0
9,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography,0,0,0,0,0,0,0,0,0,0,0
10,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,0,0,0,0,0,0,0,0,0,0,0
11,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,0,0,0,0,0,0,0,0,0,0,0
12,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,0,0,0,0,0,0,0,0,0,0,0
13,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,0,0,0,0,0,0,0,0,0,0,0
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary,0,0,0,0,0,0,0,0,0,0,0
15,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",0,0,0,0,0,0,0,0,0,0,0
17,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,0,0,0,0,0,0,0,0,0,0,0
18,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,0,0,0,0,0,0,0,0,0,0,0
19,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",0,0,0,0,0,0,0,0,0,0,0

In [46]:
df4 = df4.reset_index(drop = True)

In [47]:
df4

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"Action,Crime,Drama",0,0,0,0,0,0,0,0,0,0,0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama",0,0,0,0,0,0,0,0,0,0,0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama,0,0,0,0,0,0,0,0,0,0,0
3,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"Comedy,Drama,Fantasy",0,0,0,0,0,0,0,0,0,0,0
4,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy,0,0,0,0,0,0,0,0,0,0,0
5,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"Adventure,Animation,Comedy",0,0,0,0,0,0,0,0,0,0,0
6,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,Biography,0,0,0,0,0,0,0,0,0,0,0
7,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,Drama,0,0,0,0,0,0,0,0,0,0,0
8,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,History,0,0,0,0,0,0,0,0,0,0,0
9,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,Documentary,0,0,0,0,0,0,0,0,0,0,0
10,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,Drama,0,0,0,0,0,0,0,0,0,0,0
11,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary,0,0,0,0,0,0,0,0,0,0,0
12,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"Animation,Drama,History",0,0,0,0,0,0,0,0,0,0,0
13,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,Drama,0,0,0,0,0,0,0,0,0,0,0
14,tt0230212,The Final Journey,The Final Journey,2010,120.0,Drama,0,0,0,0,0,0,0,0,0,0,0
15,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"Drama,Mystery",0,0,0,0,0,0,0,0,0,0,0

In [48]:
df4['genres'] = df4['genres'].map(lambda x: x.split(','))

In [49]:
df4

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"[Action, Crime, Drama]",0,0,0,0,0,0,0,0,0,0,0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"[Biography, Drama]",0,0,0,0,0,0,0,0,0,0,0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
3,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"[Comedy, Drama, Fantasy]",0,0,0,0,0,0,0,0,0,0,0
4,tt0111414,A Thin Life,A Thin Life,2018,75.0,[Comedy],0,0,0,0,0,0,0,0,0,0,0
5,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"[Adventure, Animation, Comedy]",0,0,0,0,0,0,0,0,0,0,0
6,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,[Biography],0,0,0,0,0,0,0,0,0,0,0
7,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
8,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,[History],0,0,0,0,0,0,0,0,0,0,0
9,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,[Documentary],0,0,0,0,0,0,0,0,0,0,0
10,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
11,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,[Documentary],0,0,0,0,0,0,0,0,0,0,0
12,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"[Animation, Drama, History]",0,0,0,0,0,0,0,0,0,0,0
13,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
14,tt0230212,The Final Journey,The Final Journey,2010,120.0,[Drama],0,0,0,0,0,0,0,0,0,0,0
15,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"[Drama, Mystery]",0,0,0,0,0,0,0,0,0,0,0

In [50]:
for index, genres in enumerate(df4['genres']):
    for genre in genres:
        df4.loc[index,genre] = 1

In [51]:
df4

,tconst,primary_title,original_title,start_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
0,tt0063540,Sunghursh,Sunghursh,2013,175.0,"[Action, Crime, Drama]",1,1,0,0,0,0,0,1,0,0,0
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"[Biography, Drama]",1,0,0,0,1,0,0,0,0,0,0
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
3,tt0100275,The Wandering Soap Opera,La Telenovela Errante,2017,80.0,"[Comedy, Drama, Fantasy]",1,0,0,0,0,0,0,0,1,0,1
4,tt0111414,A Thin Life,A Thin Life,2018,75.0,[Comedy],0,0,0,0,0,0,0,0,0,0,1
5,tt0137204,Joe Finds Grace,Joe Finds Grace,2017,83.0,"[Adventure, Animation, Comedy]",0,0,0,1,0,0,0,0,0,1,1
6,tt0144449,Nema aviona za Zagreb,Nema aviona za Zagreb,2012,82.0,[Biography],0,0,0,0,1,0,0,0,0,0,0
7,tt0146592,Pál Adrienn,Pál Adrienn,2010,136.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
8,tt0154039,So Much for Justice!,Oda az igazság,2010,100.0,[History],0,0,0,0,0,1,0,0,0,0,0
9,tt0159369,Cooper and Hemingway: The True Gen,Cooper and Hemingway: The True Gen,2013,180.0,[Documentary],0,0,1,0,0,0,0,0,0,0,0
10,tt0162942,Children of the Green Dragon,A zöld sárkány gyermekei,2010,89.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
11,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,[Documentary],0,0,1,0,0,0,0,0,0,0,0
12,tt0176694,The Tragedy of Man,Az ember tragédiája,2011,160.0,"[Animation, Drama, History]",1,0,0,1,0,1,0,0,0,0,0
13,tt0192528,Heaven & Hell,Reverse Heaven,2018,104.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
14,tt0230212,The Final Journey,The Final Journey,2010,120.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
15,tt0247643,Los pájaros se van con la muerte,Los pájaros se van con la muerte,2011,110.0,"[Drama, Mystery]",1,0,0,0,0,0,1,0,0,0,0

In [55]:
df4 = df4.drop('original_title', axis = 1)

In [56]:
df4

,tconst,primary_title,start_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
0,tt0063540,Sunghursh,2013,175.0,"[Action, Crime, Drama]",1,1,0,0,0,0,0,1,0,0,0
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"[Biography, Drama]",1,0,0,0,1,0,0,0,0,0,0
2,tt0069049,The Other Side of the Wind,2018,122.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
3,tt0100275,The Wandering Soap Opera,2017,80.0,"[Comedy, Drama, Fantasy]",1,0,0,0,0,0,0,0,1,0,1
4,tt0111414,A Thin Life,2018,75.0,[Comedy],0,0,0,0,0,0,0,0,0,0,1
5,tt0137204,Joe Finds Grace,2017,83.0,"[Adventure, Animation, Comedy]",0,0,0,1,0,0,0,0,0,1,1
6,tt0144449,Nema aviona za Zagreb,2012,82.0,[Biography],0,0,0,0,1,0,0,0,0,0,0
7,tt0146592,Pál Adrienn,2010,136.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
8,tt0154039,So Much for Justice!,2010,100.0,[History],0,0,0,0,0,1,0,0,0,0,0
9,tt0159369,Cooper and Hemingway: The True Gen,2013,180.0,[Documentary],0,0,1,0,0,0,0,0,0,0,0
10,tt0162942,Children of the Green Dragon,2010,89.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
11,tt0170651,T.G.M. - osvoboditel,2018,60.0,[Documentary],0,0,1,0,0,0,0,0,0,0,0
12,tt0176694,The Tragedy of Man,2011,160.0,"[Animation, Drama, History]",1,0,0,1,0,1,0,0,0,0,0
13,tt0192528,Heaven & Hell,2018,104.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
14,tt0230212,The Final Journey,2010,120.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
15,tt0247643,Los pájaros se van con la muerte,2011,110.0,"[Drama, Mystery]",1,0,0,0,0,0,1,0,0,0,0

In [52]:
df5 = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')

In [53]:
df5

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [54]:
#create new column release_year
#select year from release_date and convert to int
df5['release_year']=df5['release_date'].map(lambda x: int(x[-4:]))
df5.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017

In [57]:
df6 = df5[:20]

In [60]:
df6= df6.drop('id', axis = 1)

In [61]:
df6

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017
5,"Dec 18, 2015",Star Wars Ep. VII: The Force Awakens,"$306,000,000","$936,662,225","$2,053,311,220",2015
6,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",2018
7,"May 24, 2007",Pirates of the Caribbean: At Worldâs End,"$300,000,000","$309,420,425","$963,420,425",2007
8,"Nov 17, 2017",Justice League,"$300,000,000","$229,024,295","$655,945,209",2017
9,"Nov 6, 2015",Spectre,"$300,000,000","$200,074,175","$879,620,923",2015
10,"Jul 20, 2012",The Dark Knight Rises,"$275,000,000","$448,139,099","$1,084,439,099",2012
11,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",2018
12,"Jul 2, 2013",The Lone Ranger,"$275,000,000","$89,302,115","$260,002,115",2013
13,"Mar 9, 2012",John Carter,"$275,000,000","$73,058,679","$282,778,100",2012
14,"Nov 24, 2010",Tangled,"$260,000,000","$200,821,936","$586,477,240",2010
15,"May 4, 2007",Spider-Man 3,"$258,000,000","$336,530,303","$894,860,230",2007
16,"May 6, 2016",Captain America: Civil War,"$250,000,000","$408,084,349","$1,140,069,413",2016
17,"Mar 25, 2016",Batman v Superman: Dawn of Justice,"$250,000,000","$330,360,194","$867,500,281",2016
18,"Dec 14, 2012",The Hobbit: An Unexpected Journey,"$250,000,000","$303,003,568","$1,017,003,568",2012
19,"Jul 15, 2009",Harry Potter and the Half-Blood Prince,"$250,000,000","$302,089,278","$935,213,767",2009

In [63]:
df4 = df4.sort_values('start_year', ascending = False)

In [64]:
df4

,tconst,primary_title,start_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"[Biography, Drama]",1,0,0,0,1,0,0,0,0,0,0
2,tt0069049,The Other Side of the Wind,2018,122.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
4,tt0111414,A Thin Life,2018,75.0,[Comedy],0,0,0,0,0,0,0,0,0,0,1
11,tt0170651,T.G.M. - osvoboditel,2018,60.0,[Documentary],0,0,1,0,0,0,0,0,0,0,0
13,tt0192528,Heaven & Hell,2018,104.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
3,tt0100275,The Wandering Soap Opera,2017,80.0,"[Comedy, Drama, Fantasy]",1,0,0,0,0,0,0,0,1,0,1
5,tt0137204,Joe Finds Grace,2017,83.0,"[Adventure, Animation, Comedy]",0,0,0,1,0,0,0,0,0,1,1
0,tt0063540,Sunghursh,2013,175.0,"[Action, Crime, Drama]",1,1,0,0,0,0,0,1,0,0,0
9,tt0159369,Cooper and Hemingway: The True Gen,2013,180.0,[Documentary],0,0,1,0,0,0,0,0,0,0,0
6,tt0144449,Nema aviona za Zagreb,2012,82.0,[Biography],0,0,0,0,1,0,0,0,0,0,0
12,tt0176694,The Tragedy of Man,2011,160.0,"[Animation, Drama, History]",1,0,0,1,0,1,0,0,0,0,0
15,tt0247643,Los pájaros se van con la muerte,2011,110.0,"[Drama, Mystery]",1,0,0,0,0,0,1,0,0,0,0
7,tt0146592,Pál Adrienn,2010,136.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
8,tt0154039,So Much for Justice!,2010,100.0,[History],0,0,0,0,0,1,0,0,0,0,0
10,tt0162942,Children of the Green Dragon,2010,89.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
14,tt0230212,The Final Journey,2010,120.0,[Drama],1,0,0,0,0,0,0,0,0,0,0

In [66]:
df4 = df4.rename(columns = {'primary_title' : 'movie'})

In [68]:
df4 = df4.rename(columns = {'start_year' : 'release_year'})

In [69]:
df4

,tconst,movie,release_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy
1,tt0066787,One Day Before the Rainy Season,2019,114.0,"[Biography, Drama]",1,0,0,0,1,0,0,0,0,0,0
2,tt0069049,The Other Side of the Wind,2018,122.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
4,tt0111414,A Thin Life,2018,75.0,[Comedy],0,0,0,0,0,0,0,0,0,0,1
11,tt0170651,T.G.M. - osvoboditel,2018,60.0,[Documentary],0,0,1,0,0,0,0,0,0,0,0
13,tt0192528,Heaven & Hell,2018,104.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
3,tt0100275,The Wandering Soap Opera,2017,80.0,"[Comedy, Drama, Fantasy]",1,0,0,0,0,0,0,0,1,0,1
5,tt0137204,Joe Finds Grace,2017,83.0,"[Adventure, Animation, Comedy]",0,0,0,1,0,0,0,0,0,1,1
0,tt0063540,Sunghursh,2013,175.0,"[Action, Crime, Drama]",1,1,0,0,0,0,0,1,0,0,0
9,tt0159369,Cooper and Hemingway: The True Gen,2013,180.0,[Documentary],0,0,1,0,0,0,0,0,0,0,0
6,tt0144449,Nema aviona za Zagreb,2012,82.0,[Biography],0,0,0,0,1,0,0,0,0,0,0
12,tt0176694,The Tragedy of Man,2011,160.0,"[Animation, Drama, History]",1,0,0,1,0,1,0,0,0,0,0
15,tt0247643,Los pájaros se van con la muerte,2011,110.0,"[Drama, Mystery]",1,0,0,0,0,0,1,0,0,0,0
7,tt0146592,Pál Adrienn,2010,136.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
8,tt0154039,So Much for Justice!,2010,100.0,[History],0,0,0,0,0,1,0,0,0,0,0
10,tt0162942,Children of the Green Dragon,2010,89.0,[Drama],1,0,0,0,0,0,0,0,0,0,0
14,tt0230212,The Final Journey,2010,120.0,[Drama],1,0,0,0,0,0,0,0,0,0,0

In [73]:
new_df = pd.merge(df4, df6, how = 'outer', on = ['movie', 'release_year'])

In [74]:
new_df

,tconst,movie,release_year,runtime_minutes,genres,Drama,Action,Documentary,Animation,Biography,History,Mystery,Crime,Fantasy,Adventure,Comedy,release_date,production_budget,domestic_gross,worldwide_gross
0,tt0066787,One Day Before the Rainy Season,2019,114.0,"[Biography, Drama]",1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
1,tt0069049,The Other Side of the Wind,2018,122.0,[Drama],1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,tt0111414,A Thin Life,2018,75.0,[Comedy],0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN
3,tt0170651,T.G.M. - osvoboditel,2018,60.0,[Documentary],0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
4,tt0192528,Heaven & Hell,2018,104.0,[Drama],1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
5,tt0100275,The Wandering Soap Opera,2017,80.0,"[Comedy, Drama, Fantasy]",1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,NaN,NaN,NaN,NaN
6,tt0137204,Joe Finds Grace,2017,83.0,"[Adventure, Animation, Comedy]",0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN
7,tt0063540,Sunghursh,2013,175.0,"[Action, Crime, Drama]",1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
8,tt0159369,Cooper and Hemingway: The True Gen,2013,180.0,[Documentary],0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
9,tt0144449,Nema aviona za Zagreb,2012,82.0,[Biography],0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
10,tt0176694,The Tragedy of Man,2011,160.0,"[Animation, Drama, History]",1.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
11,tt0247643,Los pájaros se van con la muerte,2011,110.0,"[Drama, Mystery]",1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
12,tt0146592,Pál Adrienn,2010,136.0,[Drama],1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
13,tt0154039,So Much for Justice!,2010,100.0,[History],0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
14,tt0162942,Children of the Green Dragon,2010,89.0,[Drama],1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
15,tt0230212,The Final Journey,2010,120.0,[Drama],1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
16,NaN,Avatar,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dec 18, 2009","$425,000,000","$760,507,625","$2,776,345,279"
17,NaN,Pirates of the Caribbean: On Stranger Tides,2011,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"May 20, 2011","$410,600,000","$241,063,875","$1,045,663,875"
18,NaN,Dark Phoenix,2019,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jun 7, 2019","$350,000,000","$42,762,350","$149,762,350"
19,NaN,Avengers: Age of Ultron,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"May 1, 2015","$330,600,000","$459,005,868","$1,403,013,963"
20,NaN,Star Wars Ep. VIII: The Last Jedi,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dec 15, 2017","$317,000,000","$620,181,382","$1,316,721,747"
21,NaN,Star Wars Ep. VII: The Force Awakens,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dec 18, 2015","$306,000,000","$936,662,225","$2,053,311,220"
22,NaN,Avengers: Infinity War,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Apr 27, 2018","$300,000,000","$678,815,482","$2,048,134,200"
23,NaN,Pirates of the Caribbean: At Worldâs End,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"May 24, 2007","$300,000,000","$309,420,425","$963,420,425"
24,NaN,Justice League,2017,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nov 17, 2017","$300,000,000","$229,024,295","$655,945,209"
25,NaN,Spectre,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nov 6, 2015","$300,000,000","$200,074,175","$879,620,923"
26,NaN,The Dark Knight Rises,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 20, 2012","$275,000,000","$448,139,099","$1,084,439,099"
27,NaN,Solo: A Star Wars Story,2018,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"May 25, 2018","$275,000,000","$213,767,512","$393,151,347"
28,NaN,The Lone Ranger,2013,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 2, 2013","$275,000,000","$89,302,115","$260,002,115"
29,NaN,John Carter,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mar 9, 2012","$275,000,000","$73,058,679","$282,778,100"
30,NaN,Tangled,2010,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Nov 24, 2010","$260,000,000","$200,821,936","$586,477,240"
31,NaN,Spider-Man 3,2007,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"May 4, 2007","$258,000,000","$336,530,303","$894,860,230"
32,NaN,Captain America: Civil War,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"May 6, 2016","$250,000,000","$408,084,349","$1,140,069,413"
33,NaN,Batman v Superman: Dawn of Justice,2016,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Mar 25, 2016","$250,000,000","$330,360,194","$867,500,281"
34,NaN,The Hobbit: An Unexpected Journey,2012,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dec 14, 2012","$250,000,000","$303,003,568","$1,017,003,568"
35,NaN,Harry Potter and the Half-Blood Prince,2009,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Jul 15, 2009","$250,000,000","$302,089,278","$935,213,767"

In [75]:
A = pd.read_csv('./zippedData/imdb.title.basics.csv.gz')

In [79]:
A1 = A[A['start_year'] > 2017]

In [80]:
A1

,tconst,primary_title,original_title,start_year,runtime_minutes,genres
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
...,...,...,...,...,...,...
146134,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary
146135,tt9916170,The Rehearsal,O Ensaio,2019,51.0,Drama
146137,tt9916190,Safeguard,Safeguard,2019,90.0,"Drama,Thriller"
146138,tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War"
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama

In [81]:
A1 = A1.rename(columns = {'primary_title' : 'movie', 'start_year' : 'release_year'})

In [90]:
A1

,tconst,movie,original_title,release_year,runtime_minutes,genres
1,tt0066787,One Day Before the Rainy Season,Ashad Ka Ek Din,2019,114.0,"Biography,Drama"
2,tt0069049,The Other Side of the Wind,The Other Side of the Wind,2018,122.0,Drama
3,tt0069204,Sabse Bada Sukh,Sabse Bada Sukh,2018,NaN,"Comedy,Drama"
5,tt0111414,A Thin Life,A Thin Life,2018,75.0,Comedy
14,tt0170651,T.G.M. - osvoboditel,T.G.M. - osvoboditel,2018,60.0,Documentary
...,...,...,...,...,...,...
146134,tt9916160,Drømmeland,Drømmeland,2019,72.0,Documentary
146135,tt9916170,The Rehearsal,O Ensaio,2019,51.0,Drama
146137,tt9916190,Safeguard,Safeguard,2019,90.0,"Drama,Thriller"
146138,tt9916428,The Secret of China,The Secret of China,2019,NaN,"Adventure,History,War"
146139,tt9916538,Kuambil Lagi Hatiku,Kuambil Lagi Hatiku,2019,123.0,Drama

In [85]:
B = pd.read_csv('./zippedData/tn.movie_budgets.csv.gz')

In [86]:
B

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279"
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875"
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350"
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963"
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747"
...,...,...,...,...,...,...
5777,78,"Dec 31, 2018",Red 11,"$7,000",$0,$0
5778,79,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495"
5779,80,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338"
5780,81,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0
5781,82,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041"

In [87]:
B['release_year']=B['release_date'].map(lambda x: int(x[-4:]))
B.head()

,id,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,1,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009
1,2,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011
2,3,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019
3,4,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015
4,5,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017

In [88]:
B = B.drop('id', axis = 1)

In [89]:
B

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
0,"Dec 18, 2009",Avatar,"$425,000,000","$760,507,625","$2,776,345,279",2009
1,"May 20, 2011",Pirates of the Caribbean: On Stranger Tides,"$410,600,000","$241,063,875","$1,045,663,875",2011
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019
3,"May 1, 2015",Avengers: Age of Ultron,"$330,600,000","$459,005,868","$1,403,013,963",2015
4,"Dec 15, 2017",Star Wars Ep. VIII: The Last Jedi,"$317,000,000","$620,181,382","$1,316,721,747",2017
...,...,...,...,...,...,...
5777,"Dec 31, 2018",Red 11,"$7,000",$0,$0,2018
5778,"Apr 2, 1999",Following,"$6,000","$48,482","$240,495",1999
5779,"Jul 13, 2005",Return to the Land of Wonders,"$5,000","$1,338","$1,338",2005
5780,"Sep 29, 2015",A Plague So Pleasant,"$1,400",$0,$0,2015
5781,"Aug 5, 2005",My Date With Drew,"$1,100","$181,041","$181,041",2005

In [91]:
B1 = B[B['release_year']>2017]

In [92]:
B1

,release_date,movie,production_budget,domestic_gross,worldwide_gross,release_year
2,"Jun 7, 2019",Dark Phoenix,"$350,000,000","$42,762,350","$149,762,350",2019
6,"Apr 27, 2018",Avengers: Infinity War,"$300,000,000","$678,815,482","$2,048,134,200",2018
11,"May 25, 2018",Solo: A Star Wars Story,"$275,000,000","$213,767,512","$393,151,347",2018
41,"Feb 16, 2018",Black Panther,"$200,000,000","$700,059,566","$1,348,258,224",2018
43,"Jun 15, 2018",Incredibles 2,"$200,000,000","$608,581,744","$1,242,520,711",2018
...,...,...,...,...,...,...
5176,"Feb 6, 2018",Blood Feast,"$1,200,000","$8,708","$8,708",2018
5228,"Jul 20, 2018",Unfriended: Dark Web,"$1,000,000","$8,866,745","$16,434,588",2018
5400,"Dec 14, 2018",That Way Madness Lies,"$650,000","$1,447","$1,447",2018
5466,"May 11, 2018",Higher Power,"$500,000",$528,$528,2018
5777,"Dec 31, 2018",Red 11,"$7,000",$0,$0,2018

In [94]:
AB = pd.merge(A1, B1, on = ['movie', 'release_year'])

In [95]:
AB

,tconst,movie,original_title,release_year,runtime_minutes,genres,release_date,production_budget,domestic_gross,worldwide_gross
0,tt0437086,Alita: Battle Angel,Alita: Battle Angel,2019,122.0,"Action,Adventure,Sci-Fi","Feb 14, 2019","$170,000,000","$85,710,210","$402,976,036"
1,tt0448115,Shazam!,Shazam!,2019,132.0,"Action,Adventure,Comedy","Apr 5, 2019","$85,000,000","$139,606,856","$362,899,733"
2,tt0837563,Pet Sematary,Pet Sematary,2019,101.0,"Horror,Mystery,Thriller","Apr 5, 2019","$21,000,000","$54,724,696","$109,501,146"
3,tt1034415,Suspiria,Suspiria,2018,152.0,"Fantasy,Horror,Mystery","Oct 26, 2018","$20,000,000","$2,483,472","$7,034,615"
4,tt1072748,Winchester,Winchester,2018,99.0,"Biography,Drama,Fantasy","Feb 2, 2018","$3,500,000","$25,091,816","$44,378,040"
...,...,...,...,...,...,...,...,...,...,...
157,tt8155288,Happy Death Day 2U,Happy Death Day 2U,2019,100.0,"Drama,Horror,Mystery","Feb 13, 2019","$9,000,000","$28,051,045","$64,179,495"
158,tt8266310,Blinded by the Light,Blinded by the Light,2019,117.0,"Biography,Comedy,Drama","Aug 14, 2019","$15,000,000",$0,$0
159,tt8364368,Crawl,Crawl,2019,NaN,"Action,Horror,Thriller","Jul 12, 2019","$17,000,000",$0,$0
160,tt8632862,Fahrenheit 11/9,Fahrenheit 11/9,2018,128.0,Documentary,"Sep 21, 2018","$5,000,000","$6,352,306","$6,653,715"
161,tt9024106,Unplanned,Unplanned,2019,106.0,"Biography,Drama","Mar 29, 2019","$6,000,000","$18,107,621","$18,107,621"

In [96]:
AB2 = pd.merge(A1, B1, on = ['movie'])

In [97]:
AB2

,tconst,movie,original_title,release_year_x,runtime_minutes,genres,release_date,production_budget,domestic_gross,worldwide_gross,release_year_y
0,tt0437086,Alita: Battle Angel,Alita: Battle Angel,2019,122.0,"Action,Adventure,Sci-Fi","Feb 14, 2019","$170,000,000","$85,710,210","$402,976,036",2019
1,tt0448115,Shazam!,Shazam!,2019,132.0,"Action,Adventure,Comedy","Apr 5, 2019","$85,000,000","$139,606,856","$362,899,733",2019
2,tt0837563,Pet Sematary,Pet Sematary,2019,101.0,"Horror,Mystery,Thriller","Apr 5, 2019","$21,000,000","$54,724,696","$109,501,146",2019
3,tt10329540,Rogue City,Rogue City,2020,NaN,NaN,"Dec 31, 2019","$13,000,000",$0,$0,2019
4,tt1034415,Suspiria,Suspiria,2018,152.0,"Fantasy,Horror,Mystery","Oct 26, 2018","$20,000,000","$2,483,472","$7,034,615",2018
...,...,...,...,...,...,...,...,...,...,...,...
162,tt8155288,Happy Death Day 2U,Happy Death Day 2U,2019,100.0,"Drama,Horror,Mystery","Feb 13, 2019","$9,000,000","$28,051,045","$64,179,495",2019
163,tt8266310,Blinded by the Light,Blinded by the Light,2019,117.0,"Biography,Comedy,Drama","Aug 14, 2019","$15,000,000",$0,$0,2019
164,tt8364368,Crawl,Crawl,2019,NaN,"Action,Horror,Thriller","Jul 12, 2019","$17,000,000",$0,$0,2019
165,tt8632862,Fahrenheit 11/9,Fahrenheit 11/9,2018,128.0,Documentary,"Sep 21, 2018","$5,000,000","$6,352,306","$6,653,715",2018
166,tt9024106,Unplanned,Unplanned,2019,106.0,"Biography,Drama","Mar 29, 2019","$6,000,000","$18,107,621","$18,107,621",2019

In [98]:
AB3 = AB2[AB2['release_year_x'] != AB2['release_year_y']]

In [99]:
AB3

,tconst,movie,original_title,release_year_x,runtime_minutes,genres,release_date,production_budget,domestic_gross,worldwide_gross,release_year_y
3,tt10329540,Rogue City,Rogue City,2020,NaN,NaN,"Dec 31, 2019","$13,000,000",$0,$0,2019
71,tt4638148,Braid,Braid,2018,82.0,"Horror,Mystery,Thriller","Feb 1, 2019","$1,660,000",$0,"$80,745",2019
152,tt7374952,El Chicano,El Chicano,2018,108.0,Drama,"May 3, 2019","$8,000,000","$700,261","$700,261",2019
158,tt7837402,Red 11,Red 11,2019,77.0,"Horror,Sci-Fi,Thriller","Dec 31, 2018","$7,000",$0,$0,2018
160,tt7961060,Dragon Ball Super: Broly,Doragon bôru chô: Burorî,2018,100.0,"Action,Adventure,Animation","Jan 16, 2019","$8,500,000","$30,376,755","$122,747,755",2019